In [1]:
import pandas as pd
import urllib3
import json
import requests
import os   

dataPath = '../../data/'

# Pesquisar todas as tabelas de datas

In [2]:


rtabelas = requests.post('https://veiculos.fipe.org.br/api/veiculos//ConsultarTabelaDeReferencia')
res = rtabelas.content

df = json.dumps(rtabelas.json())
df = pd.read_json(df)

if os.path.exists(dataPath) == False:
    os.mkdir(dataPath)

df.to_csv(dataPath+'/dadosTabelas.csv', index=False, header=True)

In [6]:
df = pd.read_csv(dataPath+'/dadosTabelas.csv')
lista_de_tabelas = df['Codigo'].values.tolist()
lista_de_tabelas

[286,
 285,
 284,
 283,
 282,
 281,
 280,
 279,
 278,
 274,
 273,
 272,
 271,
 270,
 267,
 266,
 265,
 264,
 263,
 262,
 261,
 260,
 259,
 258,
 256,
 255,
 253,
 252,
 251,
 250,
 249,
 248,
 247,
 246,
 245,
 244,
 243,
 242,
 241,
 239,
 238,
 237,
 236,
 235,
 234,
 233,
 232,
 231,
 230,
 229,
 228,
 227,
 226,
 225,
 224,
 219,
 218,
 217,
 216,
 215,
 214,
 212,
 211,
 207,
 205,
 202,
 200,
 198,
 197,
 196,
 194,
 193,
 192,
 191,
 190,
 189,
 188,
 187,
 186,
 185,
 184,
 183,
 182,
 181,
 180,
 179,
 178,
 176,
 175,
 174,
 173,
 172,
 171,
 170,
 169,
 168,
 167,
 166,
 165,
 164,
 163,
 162,
 161,
 160,
 159,
 158,
 157,
 156,
 155,
 154,
 153,
 152,
 151,
 150,
 149,
 148,
 147,
 146,
 145,
 144,
 143,
 142,
 141,
 140,
 139,
 138,
 137,
 136,
 135,
 134,
 133,
 132,
 131,
 130,
 129,
 128,
 127,
 126,
 125,
 124,
 123,
 122,
 121,
 120,
 119,
 118,
 117,
 61,
 60,
 59,
 58,
 57,
 56,
 55,
 54,
 53,
 52,
 51,
 50,
 49,
 48,
 47,
 46,
 45,
 44,
 43,
 42,
 41,
 40,
 38,
 37,
 36,
 35,
 34,
 33,
 32,
 31,
 30,
 29,
 28,
 27,
 26,
 24,
 23,
 21,
 20,
 19,
 18,
 17,
 16,
 15,
 14,
 13,
 12,
 11,
 10,
 9,
 8,
 111,
 6,
 2,
 1,
 7,
 25,
 116,
 115,
 114,
 113,
 112,
 110,
 101,
 100,
 99,
 109,
 108,
 107,
 106,
 105,
 104,
 103,
 102,
 98,
 89,
 88,
 87,
 97,
 96,
 95,
 94,
 93,
 92,
 91,
 90,
 86,
 77,
 76,
 75,
 85,
 84,
 83,
 82,
 81,
 80,
 79,
 78,
 74,
 66,
 65,
 64,
 73,
 72,
 71,
 70,
 69,
 68,
 67,
 63,
 62]

# Pesquisar todas as marcas a partir das tabelas

In [3]:
rmarcas = requests.post('https://veiculos.fipe.org.br/api/veiculos//ConsultarMarcas',
          data = {
            'codigoTabelaReferencia':285, ## esse código será variável por cada tabela da relação de tabelas
            'codigoTipoVeiculo':1
          }
          )
rmarcas.content
# df = json.dumps(rmarcas.json())
# df = pd.read_json(df)
# df['tabelaReferencia'] = 285

# df.to_csv(dataPath+'/dadosMarcas.csv', index=False, header=True)

b'[{"Label":"Acura","Value":"1"},{"Label":"Agrale","Value":"2"},{"Label":"Alfa Romeo","Value":"3"},{"Label":"AM Gen","Value":"4"},{"Label":"Asia Motors","Value":"5"},{"Label":"ASTON MARTIN","Value":"189"},{"Label":"Audi","Value":"6"},{"Label":"Baby","Value":"207"},{"Label":"BMW","Value":"7"},{"Label":"BRM","Value":"8"},{"Label":"Bugre","Value":"123"},{"Label":"BYD","Value":"238"},{"Label":"CAB Motors","Value":"236"},{"Label":"Cadillac","Value":"10"},{"Label":"Caoa Chery","Value":"161"},{"Label":"CBT Jipe","Value":"11"},{"Label":"CHANA","Value":"136"},{"Label":"CHANGAN","Value":"182"},{"Label":"Chrysler","Value":"12"},{"Label":"Citro\xc3\xabn","Value":"13"},{"Label":"Cross Lander","Value":"14"},{"Label":"Daewoo","Value":"15"},{"Label":"Daihatsu","Value":"16"},{"Label":"Dodge","Value":"17"},{"Label":"EFFA","Value":"147"},{"Label":"Engesa","Value":"18"},{"Label":"Envemo","Value":"19"},{"Label":"Ferrari","Value":"20"},{"Label":"Fiat","Value":"21"},{"Label":"Fibravan","Value":"149"},{"Label":"Ford","Value":"22"},{"Label":"FOTON","Value":"190"},{"Label":"Fyber","Value":"170"},{"Label":"GEELY","Value":"199"},{"Label":"GM - Chevrolet","Value":"23"},{"Label":"GREAT WALL","Value":"153"},{"Label":"Gurgel","Value":"24"},{"Label":"HAFEI","Value":"152"},{"Label":"HITECH ELECTRIC","Value":"214"},{"Label":"Honda","Value":"25"},{"Label":"Hyundai","Value":"26"},{"Label":"Isuzu","Value":"27"},{"Label":"IVECO","Value":"208"},{"Label":"JAC","Value":"177"},{"Label":"Jaguar","Value":"28"},{"Label":"Jeep","Value":"29"},{"Label":"JINBEI","Value":"154"},{"Label":"JPX","Value":"30"},{"Label":"Kia Motors","Value":"31"},{"Label":"Lada","Value":"32"},{"Label":"LAMBORGHINI","Value":"171"},{"Label":"Land Rover","Value":"33"},{"Label":"Lexus","Value":"34"},{"Label":"LIFAN","Value":"168"},{"Label":"LOBINI","Value":"127"},{"Label":"Lotus","Value":"35"},{"Label":"Mahindra","Value":"140"},{"Label":"Maserati","Value":"36"},{"Label":"Matra","Value":"37"},{"Label":"Mazda","Value":"38"},{"Label":"Mclaren","Value":"211"},{"Label":"Mercedes-Benz","Value":"39"},{"Label":"Mercury","Value":"40"},{"Label":"MG","Value":"167"},{"Label":"MINI","Value":"156"},{"Label":"Mitsubishi","Value":"41"},{"Label":"Miura","Value":"42"},{"Label":"Nissan","Value":"43"},{"Label":"Peugeot","Value":"44"},{"Label":"Plymouth","Value":"45"},{"Label":"Pontiac","Value":"46"},{"Label":"Porsche","Value":"47"},{"Label":"RAM","Value":"185"},{"Label":"RELY","Value":"186"},{"Label":"Renault","Value":"48"},{"Label":"Rolls-Royce","Value":"195"},{"Label":"Rover","Value":"49"},{"Label":"Saab","Value":"50"},{"Label":"Saturn","Value":"51"},{"Label":"Seat","Value":"52"},{"Label":"SHINERAY","Value":"183"},{"Label":"smart","Value":"157"},{"Label":"SSANGYONG","Value":"125"},{"Label":"Subaru","Value":"54"},{"Label":"Suzuki","Value":"55"},{"Label":"TAC","Value":"165"},{"Label":"Toyota","Value":"56"},{"Label":"Troller","Value":"57"},{"Label":"Volvo","Value":"58"},{"Label":"VW - VolksWagen","Value":"59"},{"Label":"Wake","Value":"163"},{"Label":"Walk","Value":"120"}]'

# Pesquisar todas os modelos a partir das marcas e tabelas

In [3]:
rmodelos = requests.post('https://veiculos.fipe.org.br/api/veiculos//ConsultarModelos',
          data = {
            'codigoTipoVeiculo': 1,
            'codigoTabelaReferencia': 189, ## esse código será variável por cada tabela da relação de tabelas
            'codigoMarca':5, ## esse código será variável por cada marca na relação de marcas
          }
          )
#print(rmodelos.json()['Modelos'])
df = json.dumps(rmodelos.json()['Modelos'])
df = pd.read_json(df)
df['tabelaReferencia'] = 189
df['codigoMarca'] = 5
#df.to_csv(dataPath+'/dadosModelos.csv', index=False, header=True)
df

                               Label  Value  tabelaReferencia  codigoMarca
0             AM-825 Luxo 4.0 Diesel     24               189            5
1       AM-825 Super Luxo 4.0 Diesel     25               189            5
2   Hi-Topic SLX/SDX/DLX Full Diesel     26               189            5
3                Hi-Topic STD Diesel     27               189            5
4   Hi-Topic Van 2.7 Diesel (furgão)     28               189            5
5      Jipe Rocsta GT 4x4 2.2 Diesel     29               189            5
6    Topic Carga 2.7 Diesel (furgão)     30               189            5
7                  Topic Luxo Diesel     31               189            5
8            Topic Super Luxo Diesel     32               189            5
9                  Towner Coach Full     33               189            5
10                     Towner Furgão     34               189            5
11                  Towner Glass Van     35               189            5
12                       Towner Luxo     36               189            5
13                Towner Multiuso 5p     37               189            5
14                  Towner Panel Van     38               189            5
15                    Towner Pick-Up     39               189            5
16             Towner SDX / DLX/ STD     40               189            5
17                 Towner Super Luxo     41               189            5
18                      Towner Truck     42               189            5

# Pesquisar todas os anos-modelo a partir das marcas, tabelas e modelos

In [2]:
rAnomodelos = requests.post('https://veiculos.fipe.org.br/api/veiculos//ConsultarAnoModelo',
          data = {
            'codigoTipoVeiculo': 1,
            'codigoTabelaReferencia': 285, ## esse código será variável por cada tabela da relação de tabelas
            'codigoMarca':22, ## esse código será variável por cada marca na relação de marcas
            'codigoModelo':655, ## esse código será variável por cada modelo na relação de modelos
          }
          )
#print(rmodelos.json())
df = json.dumps(rAnomodelos.json())
df = pd.read_json(df)
df['tabelaReferencia'] = 285
df['codigoMarca'] = 22
df['codigoModelo'] = 655
df.to_csv(dataPath+'/dadosAnoModelo.csv', index=False, header=True)

In [10]:
df['Value'].str.slice(-1)

0    1
1    1
2    1
3    1
4    1
5    1
Name: Value, dtype: object

# Pesquisar com todos os parâmetros

In [120]:
rConsultaGeral = requests.post('https://veiculos.fipe.org.br/api/veiculos//ConsultarValorComTodosParametros',
          data = {
            'codigoTipoVeiculo': 1,
            'codigoTabelaReferencia': 285, ## esse código será variável por cada tabela da relação de tabelas
            'codigoMarca':22, ## esse código será variável por cada marca na relação de marcas
            'codigoModelo':655, ## esse código será variável por cada modelo na relação de modelos
            'anoModelo':1995, ## esse código será variável por ano modelo na relação de ano modelo
            'codigoTipoCombustivel':1,
            'tipoVeiculo':'carro',
            'tipoConsulta':'tradicional'
          }
          )
#print(rConsultaGeral.json())
d = rConsultaGeral.json()
#print( pd.DataFrame(d.items(),columns=['label','value']) )
df = pd.DataFrame([d])

df['tabelaReferencia'] = 285
df['codigoMarca'] = 22
df['codigoModelo'] = 655
df['anoModelo'] = 1995
df['codigoTipoCombustivel'] = 1
df.to_csv(dataPath+'/dadosGeral.csv', index=False, header=True)

In [8]:
import asyncio
import aiohttp
import pandas as pd
import urllib3
import json
import requests
import os   

dataPath = '../../data/'


async def get_tabelas(session):
    
    url = requests.post('https://veiculos.fipe.org.br/api/veiculos//ConsultarTabelaDeReferencia',
            data = {
                'codigoTipoVeiculo': 1,
                'codigoTabelaReferencia': 285, ## esse código será variável por cada tabela da relação de tabelas
                'codigoMarca':22, ## esse código será variável por cada marca na relação de marcas
                'codigoModelo':655, ## esse código será variável por cada modelo na relação de modelos
                'anoModelo':1995, ## esse código será variável por ano modelo na relação de ano modelo
                'codigoTipoCombustivel':1,
                'tipoVeiculo':'carro',
                'tipoConsulta':'tradicional'
            }
            )
    
    async with session.get(url) as response:
        result_data = await response.json()
        
        return result_data
        # df = pd.DataFrame([result_data])
        # df['tabelaReferencia'] = 285
        # df['codigoMarca'] = 22
        # df['codigoModelo'] = 655
        # df['anoModelo'] = 1995
        # df['codigoTipoCombustivel'] = 1
        # df.to_csv(dataPath+'/dadosGeral.csv', index=False, header=True)

async def main():
    async with aiohttp.ClientSession() as session:
        
        task = asyncio.ensure_future(get_tabelas(session))
        task.append(task)

        result_data = await asyncio.gather(*tasks)
        print(result_data)


rtabelas = requests.post('https://veiculos.fipe.org.br/api/veiculos//ConsultarTabelaDeReferencia')
res = rtabelas.content

df = json.dumps(rtabelas.json())
df = pd.read_json(df)

if os.path.exists(dataPath) == False:
    os.mkdir(dataPath)

df.to_csv(dataPath+'/dadosTabelas.csv', index=False, header=True)